In [9]:
import os
import re
APP_NAME="myapp"
ROOT_PATH=os.path.abspath(".")
print "ROOT_PATH: %s"%ROOT_PATH

input_filename=os.path.join(ROOT_PATH,"rent_input.xls")
print input_filename
import datetime

ROOT_PATH: C:\Users\Wasit\Documents\GitHub\cs459_django\week04\myproject
C:\Users\Wasit\Documents\GitHub\cs459_django\week04\myproject\rent_input.xls

In [10]:
import pandas as pd
cvt={
        0:int,
        1:unicode,
        2:unicode,
        3:float,
        4:unicode,
        5:int,
    }
df_car=pd.read_excel(io=input_filename,sheetname=0,converters=cvt)

In [11]:
print df_car

   ID    CarMaker CarModel  CarPrice   CarColor  CarYear
0   1  Mitsubishi     L200      9995        red     2001
1   2        Mini   Cooper     12500        red     2005
2   3         TVR   Tuscan     18000       blue     2003
3   4         BMW       Z3     13995     silver     2002
4   5      Toyota   Celica      4665  dark blue     1997
5   6        Audi       TT     21995     silver     2005
6   7    Mercedes     E320     15495      green     2004

In [12]:
for k,i in df_car.iterrows():
    print "k: %s, i:%s\n%s"%(k, i, "-"*30)

k: 0, i:ID                   1
CarMaker    Mitsubishi
CarModel          L200
CarPrice          9995
CarColor           red
CarYear           2001
Name: 0, dtype: object
------------------------------
k: 1, i:ID               2
CarMaker      Mini
CarModel    Cooper
CarPrice     12500
CarColor       red
CarYear       2005
Name: 1, dtype: object
------------------------------
k: 2, i:ID               3
CarMaker       TVR
CarModel    Tuscan
CarPrice     18000
CarColor      blue
CarYear       2003
Name: 2, dtype: object
------------------------------
k: 3, i:ID               4
CarMaker       BMW
CarModel        Z3
CarPrice     13995
CarColor    silver
CarYear       2002
Name: 3, dtype: object
------------------------------
k: 4, i:ID                  5
CarMaker       Toyota
CarModel       Celica
CarPrice         4665
CarColor    dark blue
CarYear          1997
Name: 4, dtype: object
------------------------------
k: 5, i:ID               6
CarMaker      Audi
CarModel        TT
CarPrice     21995
CarColor    silver
CarYear       2005
Name: 5, dtype: object
------------------------------
k: 6, i:ID                 7
CarMaker    Mercedes
CarModel        E320
CarPrice       15495
CarColor       green
CarYear         2004
Name: 6, dtype: object
------------------------------

In [13]:
i

ID                 7
CarMaker    Mercedes
CarModel        E320
CarPrice       15495
CarColor       green
CarYear         2004
Name: 6, dtype: object

In [14]:
year=datetime.datetime(year=i['CarYear'],month=1,day=1)
kargs={
    'maker':i['CarMaker'], 
    'price':i['CarPrice'], 
    'model':i['CarModel'], 
    'year': year
}
car, created = Car.objects.update_or_create(
                    id=i['ID'],
                    defaults=kargs
                )

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Car.year received a naive datetime (2004-01-01 00:00:00) while time zone support is active.
  RuntimeWarning)

In [15]:
for k,i in df_car.iterrows():
    year=datetime.datetime(year=i['CarYear'],month=1,day=1)
    kargs={
        'maker':i['CarMaker'], 
        'price':i['CarPrice'], 
        'model':i['CarModel'], 
        'year': year
    }
    car, created = Car.objects.update_or_create(
                        id=i['ID'],
                        defaults=kargs
                    )

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Car.year received a naive datetime (2001-01-01 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Car.year received a naive datetime (2005-01-01 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Car.year received a naive datetime (2003-01-01 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Car.year received a naive datetime (2002-01-01 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Car.year received a naive datetime (1997-01-01 00:00:00) while time zone support is active.
  RuntimeWarning)

In [16]:
import pandas as pd
cvt={
        0:unicode,
        1:unicode,
        2:unicode,
        3:unicode,
        4:unicode,
        5:unicode,
        6:unicode
    }
df_customer=pd.read_excel(io=input_filename,sheetname=1,converters=cvt)
keys=df_customer.keys()
print keys

Index([u'ID', u'ClientFirstName', u'ClientLastName', u'ClientAddress',
       u'Postcode', u'Tel', u'Email'],
      dtype='object')

In [17]:
keys[0]

u'ID'

In [18]:
for k,i in df_customer.iterrows():
    kargs={
        'first_name':i[keys[1]], 
        'last_name':i[keys[2]], 
        'Address':i[keys[3]], 
        'postcode':i[keys[4]], 
        'telephone':i[keys[5]], 
        'email':i[keys[6]]
    }
    customer, created = Customer.objects.update_or_create(
                        id=i['ID'],
                        defaults=kargs
                    )

In [19]:
import pandas as pd
df_rent=pd.read_excel(io=input_filename,sheetname=2)
keys=df_rent.keys()
print keys

Index([u'ID', u'RentDate', u'ServiceCost', u'ReturnDate', u'ClientID',
       u'CarID'],
      dtype='object')

In [20]:
df_rent

   ID   RentDate  ServiceCost ReturnDate  ClientID  CarID
0   1 2014-03-12       549.75 2014-03-17         1      1
1   2 2014-03-12      1050.00 2014-03-20         2      2
2   3 2014-03-13      1310.00 2014-03-20         3      3
3   4 2014-03-17       425.00 2014-03-20         1      2
4   5 2014-03-20       189.95 2014-03-21         4      4
5   6 2014-03-20        50.00 2014-03-20         2      5
6   7 2014-03-20       269.95 2014-03-21         2      6
7   8 2014-03-21       514.85 2014-03-24         5      7
8   9 2014-03-24       549.75 2014-03-29         6      1
9  10 2014-03-29        50.00 2014-03-29         1      2

In [21]:
for k,i in df_rent.iterrows():
    kargs={
        'rent_date':i['RentDate'],
        'return_date':i['ReturnDate'], 
        'cost':i['ServiceCost'], 
        'car': Car.objects.get(id=i['CarID']), 
        'customer': Customer.objects.get(id=i['ClientID']), 
    }
    customer, created = Rent.objects.update_or_create(
                        id=i['ID'],
                        defaults=kargs
                    )

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.rent_date received a naive datetime (2014-03-12 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.return_date received a naive datetime (2014-03-17 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.return_date received a naive datetime (2014-03-20 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.rent_date received a naive datetime (2014-03-13 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.rent_date received a naive datetime (2014-03-17 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.rent_date received a naive datetime (2014-03-20 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.return_date received a naive datetime (2014-03-21 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.rent_date received a naive datetime (2014-03-21 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.return_date received a naive datetime (2014-03-24 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.rent_date received a naive datetime (2014-03-24 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.return_date received a naive datetime (2014-03-29 00:00:00) while time zone support is active.
  RuntimeWarning)

C:\Anaconda\lib\site-packages\django\db\models\fields\__init__.py:1453: RuntimeWarning: DateTimeField Rent.rent_date received a naive datetime (2014-03-29 00:00:00) while time zone support is active.
  RuntimeWarning)

In [22]:
Rent()