In [7]:
import os
import re
APP_NAME="myapp"
ROOT_PATH=os.path.abspath(".")
print "ROOT_PATH: %s"%ROOT_PATH

input_filename=os.path.join(ROOT_PATH,"rent_input.xls")
print input_filename

ROOT_PATH: C:\Users\Wasit\Documents\GitHub\cs459_django\week04\myproject
C:\Users\Wasit\Documents\GitHub\cs459_django\week04\myproject\rent_input.xls

In [8]:
import pandas as pd
cvt={
        0:int,
        1:unicode,
        2:unicode,
        3:float,
        4:unicode,
        5:int,
    }
df_car=pd.read_excel(io=input_filename,sheetname=0,converters=cvt)

In [10]:
print df_car

   ID    CarMaker CarModel  CarPrice   CarColor  CarYear
0   1  Mitsubishi     L200      9995        red     2001
1   2        Mini   Cooper     12500        red     2005
2   3         TVR   Tuscan     18000       blue     2003
3   4         BMW       Z3     13995     silver     2002
4   5      Toyota   Celica      4665  dark blue     1997
5   6        Audi       TT     21995     silver     2005
6   7    Mercedes     E320     15495      green     2004

In [17]:
for k,i in df_car.iterrows():
    print "k: %s, i:%s\n%s"%(k, i, "-"*30)

k: 0, i:ID                   1
CarMaker    Mitsubishi
CarModel          L200
CarPrice          9995
CarColor           red
CarYear           2001
Name: 0, dtype: object
------------------------------
k: 1, i:ID               2
CarMaker      Mini
CarModel    Cooper
CarPrice     12500
CarColor       red
CarYear       2005
Name: 1, dtype: object
------------------------------
k: 2, i:ID               3
CarMaker       TVR
CarModel    Tuscan
CarPrice     18000
CarColor      blue
CarYear       2003
Name: 2, dtype: object
------------------------------
k: 3, i:ID               4
CarMaker       BMW
CarModel        Z3
CarPrice     13995
CarColor    silver
CarYear       2002
Name: 3, dtype: object
------------------------------
k: 4, i:ID                  5
CarMaker       Toyota
CarModel       Celica
CarPrice         4665
CarColor    dark blue
CarYear          1997
Name: 4, dtype: object
------------------------------
k: 5, i:ID               6
CarMaker      Audi
CarModel        TT
CarPrice     21995
CarColor    silver
CarYear       2005
Name: 5, dtype: object
------------------------------
k: 6, i:ID                 7
CarMaker    Mercedes
CarModel        E320
CarPrice       15495
CarColor       green
CarYear         2004
Name: 6, dtype: object
------------------------------